<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Java_Application">
        <activity
            android:name=".ReadStringActivity"
            android:exported="false" />
        <activity
            android:name=".ActRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ActResponseActivity"
            android:exported="false" />
        <activity
            android:name=".ActSendActivity"
            android:exported="false" />
        <activity
            android:name=".ActionUriActivity"
            android:exported="false" />
        <activity
            android:name=".ActReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".ActStartActivity"
            android:exported="false" />
        <activity
            android:name=".ActFinshActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MetaDataActivity"
            android:exported="true"
            android:launchMode="standard">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="city" android:value="安徽"/>
            <meta-data android:name="weather" android:value="下雨天"/>
        </activity>
    </application>

</manifest>